@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent:hover .child {
  display: block;
}

.cl-rootBox {
  width: 100%;
}

.cl-card {
  width: 100%;
}

.cl-signIn-root,
.cl-signUp-root {
  margin: 220px auto 0;
  width: 440px;
}

.cl-organizationSwitcherPopoverActionButton__createOrganization {
  display: none;
}

.cl-userButtonPopoverCard {
  width: 280px;
}